/*-----------------------------------*\
  #style.css
\*-----------------------------------*/
/**
 * copyright 2024 Itsh
 */
/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/
:root {
  /* ==========
      - COLORS
    ============*/
  /* background */
  --bg-dark-purple: hsla(260, 62%, 11%, 1);
  --bg-russian-violet: hsla(259, 61%, 14%, 1);
  --bg-vivid-violet: hsla(273, 100%, 55%, 1);
  --bg-sunglow: hsla(43, 100%, 61%, 1);
  --bg-blue-jeans: hsla(202, 100%, 50%, 1);
  --bg-white-alpha-10: hsla(0, 0%, 100%, 0.1);
  /* text color */
  --text-white: hsla(0, 0%, 100%, 1);
  --text-black: hsla(0, 0%, 0%, 1);
  --text-sunglow: hsla(43, 100%, 61%, 1);
  --text-white-alpha-60: hsla(0, 0%, 100%, 0.6);
  /* border color */
  --border-blue-jeans: hsla(202, 100%, 50%, 1);
  --border-white-alpha-10: hsla(0, 0%, 100%, 0.1);
  /* ============
      - TYPOGRAPHY
    ==============*/
  /* font family */
  --fontFamily-open-sans: "Open Sans", sans-serif;
  /* font size */
  --fontSize-1: 4rem;
  --fontSize-2: 3.2rem;
  --fontSize-3: 2.4rem;
  --fontSize-4: 2rem;
  --fontSize-5: 1.8rem;
  --fontSize-6: 1.6rem;
  --fontSize-7: 1.4rem;
  /* font weight */
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semiBold: 600;
  --weight-bold: 700;
  /* ===========
      - SPACING
    =============*/
  --section-spacing: 100px;
  /* =============
      - BOX SHADOW
    ===============*/
  --shadow-1: drop-shadow(0 20px 30px hsla(0, 0%, 0%, 0.1));
  --shadow-2: drop-shadow(0 20px 30px hsla(0, 0%, 0%, 0.2));
  /* ===============
      - BORDER RADIUS
    =================*/
  --radius-24: 24px;
  --radius-40: 40px;
  --radius-pill: 500px;
  /* ===========
      - TRANSITION
    =============*/
  --transition-1: 250ms ease;
  --transition-2: 500ms ease;
  --cubic-out: cubic-bezier(0, 1, 0.5, 1); }

/*-----------------------------------*\
    #RESET
  \*-----------------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

li {
  list-style: none; }

a,
img,
span,
button,
ion-icon {
  display: block; }

a {
  color: inherit;
  text-decoration: none; }

img {
  height: auto; }

input,
button {
  background: none;
  border: none;
  font: inherit; }

input {
  width: 100%;
  outline: none; }

button {
  cursor: pointer; }

ion-icon {
  pointer-events: none; }

address {
  font-style: normal; }

html {
  font-family: var(--fontFamily-open-sans);
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  background-color: var(--bg-dark-purple);
  color: var(--text-white-alpha-60);
  font-size: var(--fontSize-6);
  line-height: 1.8; }
  body.nav-active {
    overflow: hidden; }

/*-----------------------------------*\
    #REUSED STYLE
  \*-----------------------------------*/
.container {
  padding-inline: 16px; }

.section {
  padding-block-start: 5rem;
  padding-block-end: var(--section-spacing); }

.title {
  color: var(--text-white);
  line-height: 1.1; }

.h1 {
  font-size: var(--fontSize-1); }

.h2 {
  font-size: var(--fontSize-2);
  font-weight: var(--weight-semiBold); }

.h3 {
  font-size: var(--fontSize-3);
  font-weight: var(--weight-regular); }

.btn {
  height: 6.2rem;
  padding-inline: 5rem;
  font-weight: var(--weight-bold);
  border-radius: var(--radius-pill);
  color: var(--text-black);
  display: grid;
  place-content: center;
  max-width: max-content;
  transition: var(--transition-1); }

.btn-primary {
  background: var(--bg-sunglow); }
  .btn-primary:is(:hover, :focus-visible) {
    background-color: var(--bg-vivid-violet);
    color: var(--text-white); }

.w-100 {
  width: 100%; }

.text-center {
  text-align: center; }

.section-text {
  margin-block: 1.5rem 5rem; }

.grid-list {
  display: grid;
  gap: 5rem; }

.img-holder {
  aspect-ratio: var(--width)/var(--height);
  background: var(--bg-white-alpha-10);
  overflow: hidden; }
  .img-holder .img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--transition-2); }

/*# sourceMappingURL=general.css.map */
