/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/
.header .btn {
  display: none; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 3rem;
  z-index: 4; }
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header .container .logo img {
      width: 16rem; }
    .header .container .btn-mobile-nav {
      color: var(--text-white);
      font-size: 3rem; }
      .header .container .btn-mobile-nav.active .menu-icon,
      .header .container .btn-mobile-nav .close-icon {
        display: none; }
      .header .container .btn-mobile-nav .menu-icon, .header .container .btn-mobile-nav.active .close-icon {
        display: block; }
    .header .container .main-nav {
      position: absolute;
      top: 100%;
      right: 1.6rem;
      background-color: var(--bg-vivid-violet);
      color: var(--text-white);
      padding: 1.6rem 3rem;
      border-radius: var(--radius-24);
      opacity: 0;
      visibility: hidden;
      -webkit-transition: 0.5s;
      transition: 0.5s; }
      .header .container .main-nav.active {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(-1.5rem);
                transform: translateY(-1.5rem); }
      .header .container .main-nav .main-nav-list > li:not(:last-child) {
        -webkit-margin-after: 0.5rem;
                margin-block-end: 0.5rem; }
      .header .container .main-nav .main-nav-list .main-nav-link {
        font-weight: var(--weight-medium); }
    .header .container .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      pointer-events: none; }
      .header .container .overlay.active {
        pointer-events: all; }

/*-----------------------------------*\
  #HERO
\*-----------------------------------*/
.hero {
  -webkit-padding-before: 13rem;
          padding-block-start: 13rem;
  background: url(../images/hero-bg.png) no-repeat center/cover; }
  .hero .container {
    display: grid;
    gap: 3rem; }
    .hero .container .hero-content .hero-description {
      margin-block: 2.5rem; }
    .hero .container .hero-content .input-wrapper .input-field {
      height: 6.2rem;
      padding-inline: 3rem;
      background: var(--bg-white-alpha-10);
      border-radius: var(--radius-pill);
      color: var(--text-white); }
      .hero .container .hero-content .input-wrapper .input-field::-webkit-input-placeholder {
        color: var(--text-white); }
      .hero .container .hero-content .input-wrapper .input-field:-ms-input-placeholder {
        color: var(--text-white); }
      .hero .container .hero-content .input-wrapper .input-field::-ms-input-placeholder {
        color: var(--text-white); }
      .hero .container .hero-content .input-wrapper .input-field::placeholder {
        color: var(--text-white); }
      .hero .container .hero-content .input-wrapper .input-field:focus {
        -webkit-box-shadow: inset 0 0 0 0.1rem var(--border-white-alpha-10);
                box-shadow: inset 0 0 0 0.1rem var(--border-white-alpha-10); }
    .hero .container .hero-content .input-wrapper .btn {
      -webkit-margin-before: 1.5rem;
              margin-block-start: 1.5rem; }
    .hero .container .hero-banner .w-100 {
      max-width: -webkit-max-content;
      max-width: -moz-max-content;
      max-width: max-content; }
    .hero .container .hero-banner .shape {
      display: none; }

/*-----------------------------------*\
  #PROCESS
\*-----------------------------------*/
.process {
  position: relative;
  z-index: 1; }
  .process::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/process-bg.png) no-repeat left/cover;
    pointer-events: none;
    z-index: -1; }
  .process .process-banner {
    display: none; }
  .process .process-item .item-icon {
    margin-inline: auto;
    -webkit-filter: var(--shadow-1);
            filter: var(--shadow-1); }
  .process .process-item .item-title {
    margin-block: 2rem 1rem; }

/*-----------------------------------*\
  #WORK
\*-----------------------------------*/
.works .work-card .img-holder {
  position: relative; }
  .works .work-card .img-holder::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: var(--bg-white-alpha-10);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: var(--transition-1);
    transition: var(--transition-1);
    opacity: 0;
    z-index: 9; }
.works .work-card:is(:hover, :focus-within) .img-holder::before {
  -webkit-animation: flashing 0.7s;
          animation: flashing 0.7s; }
.works .work-card:is(:hover, :focus-within) .img-cover {
  -webkit-transform: scale(1.1) rotate(3deg);
          transform: scale(1.1) rotate(3deg); }
.works .work-card .card-banner {
  border-radius: var(--radius-40);
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem; }
.works .work-card .card-title {
  -webkit-margin-after: 1.2rem;
          margin-block-end: 1.2rem; }
  .works .work-card .card-title:is(:hover, :focus-visible) {
    color: var(--text-sunglow); }
.works .btn {
  -webkit-margin-before: 6rem;
          margin-block-start: 6rem;
  margin-inline: auto; }

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/
.footer {
  background: var(--bg-russian-violet);
  color: var(--text-white); }
  .footer .footer-top {
    -webkit-padding-before: var(--section-spacing);
            padding-block-start: var(--section-spacing); }
    .footer .footer-top .container {
      display: grid;
      gap: 5rem; }
      .footer .footer-top .container .footer-text {
        margin-block: 1.5rem; }
      .footer .footer-top .container .social-links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 2rem;
        -webkit-margin-after: 3rem;
                margin-block-end: 3rem; }
        .footer .footer-top .container .social-links .social-link {
          font-size: 2.2rem;
          color: var(--bg-sunglow); }
    .footer .footer-top .footer-links {
      display: grid;
      gap: 1.5rem; }
      .footer .footer-top .footer-links .footer-link:hover {
        color: var(--text-white-alpha-60); }
    .footer .footer-top .btn {
      font-size: var(--fontSize-5);
      padding-inline: 6rem; }
  .footer .footer-bottom {
    padding-block: 4rem;
    -webkit-border-before: 1px solid var(--border-white-alpha-10);
            border-block-start: 1px solid var(--border-white-alpha-10); }
    .footer .footer-bottom .link {
      display: inline-block;
      color: var(--text-sunglow); }
      .footer .footer-bottom .link:is(:hover, :focus-within) {
        color: var(--text-white-alpha-60); }
    .footer .footer-bottom .footer-bottom-links {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      gap: 2rem;
      -webkit-margin-before: 2rem;
              margin-block-start: 2rem;
      -webkit-transition: var(--transition-1);
      transition: var(--transition-1); }
      .footer .footer-bottom .footer-bottom-links .footer-bottom-link:hover {
        color: var(--border-white-alpha-10); }

/*# sourceMappingURL=style.css.map */